@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');

*,
a {
    font-family: 'Raleway', sans-serif;
}

header nav h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 2rem 4rem;
    display: flex;
    align-items: center;
    height: 4.8rem;
    margin: 0;
}

header nav h1 img {
    height: 3.5rem;
    width: auto;
    margin-right: .5rem;
}

main {
    min-height: calc(100vh - 4.8rem);
    padding-top: 15rem;
}

main h1 {
    font-size: 5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -4px;
}

main h1 img {
    height: 5rem;
    width: auto;
    margin-right: .5rem;
}

@media only screen and (max-width: 600px) {
    main h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }

    main h1 img {
        height: 3.5rem;
        margin-right: 0;
    }
}

.input-wrapper {
    min-width: 320px;
    width: 50%;
    max-width: 560px;
    height: 4.4rem;
    display: block;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    padding: 0 2rem;
    text-overflow: ellipsis;
}

.input-wrapper:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.input-wrapper.input-focused {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#url-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    width: 100%;
    height: 100%;
}

.btn-wrapper {
    text-align: center;
    padding: 2rem 0;
}

.btn-wrapper .mtrl-btn {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 700;
    border: 1px solid #dfe1e5;
}

.short-link-wrapper {
    min-width: 320px;
    width: 50%;
    max-width: 560px;
    height: 4.4rem;
    background: #fff;
    border: 1px solid #dfe1e5;
    margin: 0 auto;
    box-shadow: none;
    border-radius: 24px;
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
}

.short-link-wrapper .short-link {
    display: flex;
    height: 100%;
    width: calc(100% - 55px);
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    text-overflow: ellipsis;
    text-transform: lowercase;
}

#short-url.error {
    color: red !important;
    background-image: none;
    background-image: linear-gradient(to right, red 0%, red 48%, red 100%);
    pointer-events: none;
}

#short-url.error+button {
    pointer-events: none;
}

/* ========================================================*/
/* ====================== Footer ==========================*/
/* ========================================================*/
.footer {
    background-color: #39393A;
}

.footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.footer .footer-container>div {
    min-width: 220px;
    width: 20%;
    max-width: 250px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    font-size: 1.4rem;
    6 font-weight: 500;
    color: #fff;
}

.footer .footer-container>div:not(:last-child) a {
    height: 40px;
    width: 100%;
    font-weight: 600;
    font-size: 1.4rem;
}

.footer .footer-container>div a img {
    height: 100%;
    width: auto;
}

.footer .footer-container>div .cover-img-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-container>div .cover-img-container .cover-svg {
    height: auto;
    min-width: 120px;
    width: 70%;
    max-width: 200px;
}

.footer .hire-me a,
.footer .say-something a {
    text-align: center;
    display: inline-block;
}

.footer .creator {
    text-align: center;
    background-color: #39393A;
    color: #fff;
    margin: 0;
    padding: 1rem;
}

.footer .creator a {
    color: #766dff;
}